.table .empty-row {
  display: none;
}
.table .row .name,
.table .row .type,
.table .row .color {
  padding: 1rem;
  border: 1px solid black;
}
.table .row .number {
  cursor: move;
}
.table .row .color {
  background-color: black;
}
.hide {
  display: none !important;
}
.sp-original-input-container {
  position: initial !important;
}
.color-picker {
  position: absolute;
}
.load-file {
  display: none;
}
